html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption {
  margin: 0;
  padding: 0; }

/* Variables */
@font-face {
  font-family: Big John;
  src: url("fonts/BigJohnSlimJoe/BIG JOHN.otf"); }
@font-face {
  font-family: Slim Joe;
  src: url("fonts/BigJohnSlimJoe/Slim Joe.otf"); }
/* Modules */
/* Partials */
section.nav-panel {
  position: fixed;
  top: 47px;
  width: 226px;
  box-shadow: 1px  0    0 #d6d7d8; }
  section.nav-panel div.logo {
    width: 100%;
    border-bottom: 1px solid #eee; }
    section.nav-panel div.logo a {
      display: block;
      padding: 20px 0; }
      section.nav-panel div.logo a img {
        display: block;
        margin: 0 auto;
        width: calc(100% - 40px); }
  section.nav-panel div.logo:hover {
    background-color: #f7f7f7; }
  section.nav-panel div.nav-container {
    padding: 190px 0;
    width: 100%; }
    section.nav-panel div.nav-container nav {
      width: 100%; }
      section.nav-panel div.nav-container nav ul {
        width: 100%;
        list-style: none;
        text-align: center; }
        section.nav-panel div.nav-container nav ul li {
          padding: 9px 0; }
          section.nav-panel div.nav-container nav ul li a {
            font-family: Slim Joe;
            font-size: 13px;
            letter-spacing: 1px;
            color: #777;
            text-transform: uppercase;
            text-decoration: none; }
        section.nav-panel div.nav-container nav ul li.active a {
          color: #1cafd1; }
        section.nav-panel div.nav-container nav ul li:hover a {
          color: #000; }
  section.nav-panel div.social-media {
    position: absolute;
    bottom: 0;
    width: 100%; }
    section.nav-panel div.social-media ul {
      width: 100%;
      border-top: 1px solid #eee;
      list-style: none; }
      section.nav-panel div.social-media ul li {
        float: left; }
        section.nav-panel div.social-media ul li a {
          display: block;
          padding: 15px 31px; }
          section.nav-panel div.social-media ul li a i {
            color: #1cafd1; }
      section.nav-panel div.social-media ul li:not(:last-child) {
        border-right: 1px solid #eee; }
      section.nav-panel div.social-media ul li:hover a {
        background-color: #1cafd1; }
        section.nav-panel div.social-media ul li:hover a i {
          color: #fff; }

main.main {
  position: relative;
  padding-top: 47px;
  float: right;
  width: calc(100% - 227px);
  background-color: #202020; }
  main.main video {
    position: relative;
    top: 50%;
    width: 100%; }
  main.main div.banner {
    display: none;
    position: absolute;
    top: 70px;
    right: 25px;
    width: 100%; }
    main.main div.banner h1 {
      display: inline;
      float: right;
      font-size: 80px;
      color: #fff; }
      main.main div.banner h1 span.row {
        display: block; }
        main.main div.banner h1 span.row span.big {
          font-family: Big John; }
        main.main div.banner h1 span.row span.slim {
          font-family: Slim Joe; }
      main.main div.banner h1 span.row:nth-child(2) {
        margin-left: 172px; }
      main.main div.banner h1 span.row:nth-child(3) {
        margin-left: 292px; }

main.about {
  float: right;
  padding: 55px 50px;
  width: calc(100% - 227px - 100px);
  background-color: #f8f8f8; }
  main.about section.candidate {
    background-color: #fff;
    box-shadow: 1px  0    0 #d6d7d8, 0    1px  1px #cccdce, -1px 0    0 #d6d7d8, 0    -1px 0 #e7e8e9;
    overflow: auto; }
    main.about section.candidate div.image-wrapper {
      position: relative;
      float: left;
      width: calc(100% - 450px); }
      main.about section.candidate div.image-wrapper img {
        display: block;
        width: 100%; }
      main.about section.candidate div.image-wrapper h2 {
        position: absolute;
        bottom: 10px;
        right: 20px;
        font-size: 50px;
        color: #fff; }
        main.about section.candidate div.image-wrapper h2 span.big {
          font-family: Big John; }
        main.about section.candidate div.image-wrapper h2 span.slim {
          font-family: Slim Joe; }
    main.about section.candidate div.info {
      float: right;
      padding: 32px;
      width: calc(450px - 64px);
      overflow: auto; }
      main.about section.candidate div.info h3 {
        margin-bottom: 24px;
        font-family: Slim Joe;
        font-size: 26px;
        color: #333; }
      main.about section.candidate div.info h6 {
        margin-bottom: 3px;
        font-family: Big John;
        font-size: 14px;
        color: #1cafd1; }
      main.about section.candidate div.info div.paragraph {
        float: left;
        width: calc(100% - 200px); }
        main.about section.candidate div.info div.paragraph p {
          float: left;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 13px;
          line-height: 1.6;
          color: #666; }
      main.about section.candidate div.info div.facts {
        float: right;
        padding: 13px 9px;
        width: calc(160px - 18px);
        box-shadow: 1px  0    1px #d6d7d8, 0    1px  2px #cccdce, -1px 0    1px #d6d7d8, 0    -1px 1px #e7e8e9; }
        main.about section.candidate div.info div.facts ul {
          padding-left: 16px;
          list-style-type: square; }
          main.about section.candidate div.info div.facts ul li {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            color: #666; }
          main.about section.candidate div.info div.facts ul li:not(:first-child) {
            margin-top: 11px; }
  main.about section.candidate:first-child {
    margin-bottom: 30px; }

main.endorsements {
  position: relative;
  float: right;
  padding: 55px 50px;
  width: calc(100% - 227px - 100px);
  background-color: #f8f8f8; }
  main.endorsements ul.js-masonry {
    list-style: none; }
    main.endorsements ul.js-masonry li.endorsement {
      display: block;
      width: 260px;
      height: 260px;
      box-shadow: 1px  0    0 #d6d7d8, 0    1px  1px #cccdce, -1px 0    0 #d6d7d8, 0    -1px 0 #e7e8e9;
      cursor: pointer; }
      main.endorsements ul.js-masonry li.endorsement div.endorsement-content {
        position: relative;
        width: 100%; }
        main.endorsements ul.js-masonry li.endorsement div.endorsement-content img {
          width: 100%; }
        main.endorsements ul.js-masonry li.endorsement div.endorsement-content div.info {
          position: absolute;
          bottom: 4px;
          left: 0;
          padding: 10px;
          width: calc(100% - 20px);
          height: 32px;
          text-align: right;
          background-color: rgba(0, 0, 0, 0.3); }
          main.endorsements ul.js-masonry li.endorsement div.endorsement-content div.info h5 {
            font-weight: bold;
            font-size: 13px;
            word-spacing: 3px;
            color: #fff; }
            main.endorsements ul.js-masonry li.endorsement div.endorsement-content div.info h5 span.big {
              font-family: Big John; }
            main.endorsements ul.js-masonry li.endorsement div.endorsement-content div.info h5 span.slim {
              font-family: Slim Joe; }
          main.endorsements ul.js-masonry li.endorsement div.endorsement-content div.info > span {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            color: #bbb; }
    main.endorsements ul.js-masonry li.endorsement:hover {
      opacity: 0.9; }
    main.endorsements ul.js-masonry li.highlight {
      padding: 47px;
      width: calc(525px - 99px);
      height: calc(525px - 99px);
      background-color: #fff;
      box-shadow: 1px  0    0 #d6d7d8, 0    1px  1px #cccdce, -1px 0    0 #d6d7d8, 0    -1px 0 #e7e8e9; }
      main.endorsements ul.js-masonry li.highlight p {
        font-family: Slim Joe;
        font-size: 30px;
        line-height: 1.6; }

main.team {
  position: relative;
  float: right;
  padding: 55px 50px;
  width: calc(100% - 227px - 100px);
  background-color: #f8f8f8; }
  main.team ul.js-masonry {
    list-style: none; }
    main.team ul.js-masonry li.member {
      position: absolute;
      width: 260px;
      height: 260px;
      box-shadow: 1px  0    0 #d6d7d8, 0    1px  1px #cccdce, -1px 0    0 #d6d7d8, 0    -1px 0 #e7e8e9;
      cursor: pointer; }
      main.team ul.js-masonry li.member div.member-content {
        position: relative;
        width: 100%; }
        main.team ul.js-masonry li.member div.member-content img {
          width: 100%; }
        main.team ul.js-masonry li.member div.member-content div.info {
          position: absolute;
          bottom: 3px;
          left: 0;
          padding: 10px;
          width: calc(100% - 20px);
          height: 20px;
          background-color: rgba(0, 0, 0, 0.3); }
          main.team ul.js-masonry li.member div.member-content div.info h5 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 19px;
            word-spacing: 3px;
            color: #fff;
            text-align: right; }
            main.team ul.js-masonry li.member div.member-content div.info h5 span.big {
              font-family: Big John; }
            main.team ul.js-masonry li.member div.member-content div.info h5 span.slim {
              font-family: Slim Joe; }

main.listening {
  position: relative;
  float: right;
  padding: 20px 50px;
  width: calc(100% - 227px - 100px);
  background-color: #f8f8f8; }
  main.listening div.form-container {
    position: fixed;
    width: calc(100% - 227px - 100px - 40px);
    padding: 20px;
    background-color: #fff;
    box-shadow: 1px  0    0 #d6d7d8, 0    1px  1px #cccdce, -1px 0    0 #d6d7d8, 0    -1px 0 #e7e8e9; }
    main.listening div.form-container h2 {
      font-family: Big John;
      color: #1cafd1; }
    main.listening div.form-container form.contact-form {
      overflow: auto; }
      main.listening div.form-container form.contact-form textarea {
        margin-bottom: 15px;
        padding: 10px;
        width: calc(100% - 20px - 2px);
        height: 80px;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid #ddd;
        outline: none;
        resize: none; }
      main.listening div.form-container form.contact-form div.signed {
        float: right; }
        main.listening div.form-container form.contact-form div.signed h5 {
          display: inline-block;
          margin-right: 10px;
          font-family: Big John;
          font-size: 17px;
          color: #444; }
        main.listening div.form-container form.contact-form div.signed input {
          font-size: 15px;
          border-style: none;
          border-bottom: 1px solid #ddd;
          outline: none; }
  main.listening div.media-feeds div.twitter-feed {
    width: 50%;
    float: left; }
  main.listening div.media-feeds div.instagram-feed {
    width: 50%;
    float: right; }
    main.listening div.media-feeds div.instagram-feed div.insta-item {
      margin-bottom: 10px; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1f1d20;
  z-index: 10; }
  header div.header-inner {
    padding: 0 30px;
    width: calc(100% - 60px);
    text-align: center; }
    header div.header-inner ul.controls {
      list-style: none; }
      header div.header-inner ul.controls li {
        position: relative;
        display: inline-block;
        padding: 12px 19px;
        cursor: pointer; }
        header div.header-inner ul.controls li i, header div.header-inner ul.controls li span {
          color: #696869; }
        header div.header-inner ul.controls li i {
          margin-right: 5px;
          font-size: 22px; }
        header div.header-inner ul.controls li span {
          font-family: Slim Joe;
          font-size: 11px; }
        header div.header-inner ul.controls li div.hidden-action {
          display: none;
          position: absolute;
          top: 47px;
          left: 0px;
          padding: 15px;
          background-color: #2c292c;
          border-radius: 0 0 2px 2px; }
        header div.header-inner ul.controls li div.hidden-action.join-action {
          width: 340px; }
          header div.header-inner ul.controls li div.hidden-action.join-action button {
            float: left;
            padding: 10px 14px;
            width: 170px;
            height: 60px;
            border: none;
            color: #fff;
            text-align: left;
            box-shadow: 1px  0    0 #444, 0    1px  1px #333, -1px 0    0 #444, 0    -1px 0 #555;
            cursor: pointer;
            outline: none; }
            header div.header-inner ul.controls li div.hidden-action.join-action button i {
              display: inline-block;
              font-size: 29px;
              color: #fff; }
            header div.header-inner ul.controls li div.hidden-action.join-action button span {
              display: inline-block;
              width: calc(100% - 40px);
              font-family: Arial, Helvetica, sans-serif;
              font-size: 11px;
              line-height: 1.4;
              color: #fff; }
          header div.header-inner ul.controls li div.hidden-action.join-action button.download {
            background-color: #84c775;
            border-radius: 2px 0 0 2px; }
          header div.header-inner ul.controls li div.hidden-action.join-action button.download:focus {
            background-color: #64b851; }
          header div.header-inner ul.controls li div.hidden-action.join-action button.facebook {
            background-color: #1cafd1;
            border-radius: 0 2px 2px 0; }
          header div.header-inner ul.controls li div.hidden-action.join-action button.facebook:focus {
            background-color: #1689a4; }
        header div.header-inner ul.controls li div.hidden-action.say-action {
          width: 390px; }
          header div.header-inner ul.controls li div.hidden-action.say-action h4 {
            margin-bottom: 8px;
            font-family: Big John;
            font-size: 15px;
            text-align: left;
            color: #fff; }
          header div.header-inner ul.controls li div.hidden-action.say-action form textarea {
            margin-bottom: 10px;
            padding: 10px;
            width: calc(100% - 20px);
            height: 80px;
            border: 0;
            resize: none;
            outline: none; }
          header div.header-inner ul.controls li div.hidden-action.say-action form div.signed {
            text-align: right; }
            header div.header-inner ul.controls li div.hidden-action.say-action form div.signed h5 {
              display: inline-block;
              font-family: Big John;
              color: #fff; }
            header div.header-inner ul.controls li div.hidden-action.say-action form div.signed input {
              margin-left: 5px;
              width: 80px;
              color: #fff;
              background-color: transparent;
              border: none;
              border-bottom: 1px solid #fff;
              outline: none; }
      header div.header-inner ul.controls li:hover {
        background-color: #2c292c; }
        header div.header-inner ul.controls li:hover > i, header div.header-inner ul.controls li:hover > span {
          color: #fff; }
      header div.header-inner ul.controls li.active {
        background-color: #2c292c; }
        header div.header-inner ul.controls li.active > i, header div.header-inner ul.controls li.active > span {
          color: #fff; }
        header div.header-inner ul.controls li.active div.hidden-action {
          display: block; }

/*# sourceMappingURL=main.css.map */
