html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption, {
    margin: 0;
    padding: 0;
}


// For ng-cloak directive
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}



// Partials
@import "partials/base";