html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption {
  margin: 0;
  padding: 0; }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

/* Variables */
@font-face {
  font-family: Big John;
  src: url("https://s3-us-west-2.amazonaws.com/campaignwebsite/BIG+JOHN.otf"); }
@font-face {
  font-family: Slim Joe;
  src: url("https://s3-us-west-2.amazonaws.com/campaignwebsite/Slim+Joe.otf"); }
/* Modules */
/* Partials */
section.nav-panel {
  position: fixed;
  top: 47px;
  width: 226px;
  box-shadow: 1px  0    0 #d6d7d8; }
  section.nav-panel div.logo {
    width: 100%;
    border-bottom: 1px solid #eee; }
    section.nav-panel div.logo a {
      display: block;
      padding: 20px 0; }
      section.nav-panel div.logo a img {
        display: block;
        margin: 0 auto;
        width: calc(100% - 40px); }
  section.nav-panel div.logo:hover {
    background-color: #f7f7f7; }
  section.nav-panel div.nav-container {
    padding: 190px 0;
    width: 100%; }
    section.nav-panel div.nav-container nav {
      width: 100%; }
      section.nav-panel div.nav-container nav ul {
        width: 100%;
        list-style: none;
        text-align: center; }
        section.nav-panel div.nav-container nav ul li {
          padding: 9px 0; }
          section.nav-panel div.nav-container nav ul li a {
            font-family: Slim Joe;
            font-size: 13px;
            letter-spacing: 1px;
            color: #777;
            text-transform: uppercase;
            text-decoration: none; }
        section.nav-panel div.nav-container nav ul li.active a {
          color: #1cafd1; }
        section.nav-panel div.nav-container nav ul li:not(.active):hover a {
          color: #ccc; }
  section.nav-panel div.social-media {
    position: absolute;
    bottom: 0;
    width: 100%; }
    section.nav-panel div.social-media ul {
      width: 100%;
      border-top: 1px solid #eee;
      list-style: none; }
      section.nav-panel div.social-media ul li {
        float: left; }
        section.nav-panel div.social-media ul li a {
          display: block;
          padding: 15px 31px; }
          section.nav-panel div.social-media ul li a i {
            color: #1cafd1; }
      section.nav-panel div.social-media ul li:not(:last-child) {
        border-right: 1px solid #eee; }
      section.nav-panel div.social-media ul li:hover a {
        background-color: #1cafd1; }
        section.nav-panel div.social-media ul li:hover a i {
          color: #fff; }

main.main {
  position: relative;
  padding-top: 47px;
  float: right;
  width: calc(100% - 227px);
  background-color: #202020; }
  main.main video {
    position: relative;
    top: 50%;
    width: 100%; }
  main.main div.banner {
    display: none;
    position: absolute;
    top: 70px;
    right: 25px;
    width: 100%; }
    main.main div.banner h1 {
      display: inline;
      float: right;
      font-size: 80px;
      color: #fff; }
      main.main div.banner h1 span.row {
        display: block; }
        main.main div.banner h1 span.row span.big {
          font-family: Big John; }
        main.main div.banner h1 span.row span.slim {
          font-family: Slim Joe; }
      main.main div.banner h1 span.row:nth-child(2) {
        margin-left: 172px; }
      main.main div.banner h1 span.row:nth-child(3) {
        margin-left: 292px; }

main.about {
  position: relative;
  float: right;
  padding: 55px 50px;
  width: calc(100% - 227px - 100px);
  background-color: #f8f8f8; }
  main.about div.content {
    position: relative; }
    main.about div.content section.candidate {
      background-color: #fff;
      box-shadow: 1px  0    0 #d6d7d8, 0    1px  1px #cccdce, -1px 0    0 #d6d7d8, 0    -1px 0 #e7e8e9;
      overflow: auto; }
      main.about div.content section.candidate div.image-wrapper {
        position: relative;
        float: left;
        width: calc(100% - 520px); }
        main.about div.content section.candidate div.image-wrapper img {
          display: block;
          width: 100%; }
        main.about div.content section.candidate div.image-wrapper h2 {
          position: absolute;
          bottom: 10px;
          right: 20px;
          font-size: 50px;
          color: #fff; }
          main.about div.content section.candidate div.image-wrapper h2 span.big {
            font-family: Big John; }
          main.about div.content section.candidate div.image-wrapper h2 span.slim {
            font-family: Slim Joe; }
      main.about div.content section.candidate div.info {
        float: right;
        padding: 32px;
        width: calc(520px - 64px);
        overflow: auto; }
        main.about div.content section.candidate div.info h3 {
          margin-bottom: 24px;
          font-family: Slim Joe;
          font-size: 26px;
          color: #333; }
        main.about div.content section.candidate div.info h6 {
          margin-bottom: 3px;
          font-family: Big John;
          font-size: 14px;
          color: #1cafd1; }
        main.about div.content section.candidate div.info div.paragraph {
          float: left;
          width: 100%; }
          main.about div.content section.candidate div.info div.paragraph div.paragraphs {
            column-count: 2; }
            main.about div.content section.candidate div.info div.paragraph div.paragraphs p {
              float: left;
              padding-bottom: 8px;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 13px;
              line-height: 1.6;
              color: #666; }
    main.about div.content section.candidate:first-child {
      margin-bottom: 30px; }

main.endorsements {
  position: relative;
  float: right;
  padding: 55px 50px;
  width: calc(100% - 227px - 100px);
  background-color: #f8f8f8; }
  main.endorsements ul.js-masonry {
    list-style: none; }
    main.endorsements ul.js-masonry li.endorsement {
      display: block;
      margin-bottom: 5px;
      width: 260px;
      height: 260px;
      box-shadow: 1px  0    0 #d6d7d8, 0    1px  1px #cccdce, -1px 0    0 #d6d7d8, 0    -1px 0 #e7e8e9;
      cursor: pointer; }
      main.endorsements ul.js-masonry li.endorsement div.endorsement-content {
        position: relative;
        width: 100%; }
        main.endorsements ul.js-masonry li.endorsement div.endorsement-content img {
          width: 100%; }
        main.endorsements ul.js-masonry li.endorsement div.endorsement-content div.info {
          position: absolute;
          bottom: 4px;
          left: 0;
          padding: 10px;
          width: calc(100% - 20px);
          height: 32px;
          text-align: right;
          background-color: rgba(0, 0, 0, 0.3); }
          main.endorsements ul.js-masonry li.endorsement div.endorsement-content div.info h5 {
            font-weight: bold;
            font-size: 13px;
            word-spacing: 3px;
            color: #fff; }
            main.endorsements ul.js-masonry li.endorsement div.endorsement-content div.info h5 span.big {
              font-family: Big John; }
            main.endorsements ul.js-masonry li.endorsement div.endorsement-content div.info h5 span.slim {
              font-family: Slim Joe; }
          main.endorsements ul.js-masonry li.endorsement div.endorsement-content div.info > span {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            color: #bbb; }
    main.endorsements ul.js-masonry li.endorsement:hover {
      opacity: 0.9; }
    main.endorsements ul.js-masonry li.highlight {
      padding: 47px;
      width: calc(525px - 99px);
      height: calc(525px - 99px);
      background-color: #fff;
      box-shadow: 1px  0    0 #d6d7d8, 0    1px  1px #cccdce, -1px 0    0 #d6d7d8, 0    -1px 0 #e7e8e9; }
      main.endorsements ul.js-masonry li.highlight p {
        font-family: Slim Joe;
        font-size: 30px;
        line-height: 1.6; }

main.team {
  position: relative;
  float: right;
  padding: 55px 50px;
  width: calc(100% - 227px - 100px);
  background-color: #f8f8f8; }
  main.team ul.js-masonry {
    list-style: none; }
    main.team ul.js-masonry li.member {
      position: absolute;
      margin-bottom: 5px;
      width: 260px;
      height: 260px;
      box-shadow: 1px  0    0 #d6d7d8, 0    1px  1px #cccdce, -1px 0    0 #d6d7d8, 0    -1px 0 #e7e8e9; }
      main.team ul.js-masonry li.member div.member-content {
        position: relative;
        width: 100%; }
        main.team ul.js-masonry li.member div.member-content img {
          width: 100%; }
        main.team ul.js-masonry li.member div.member-content div.info {
          position: absolute;
          bottom: 3px;
          left: 0;
          padding: 10px;
          width: calc(100% - 20px);
          height: 16px;
          background-color: rgba(0, 0, 0, 0.6); }
          main.team ul.js-masonry li.member div.member-content div.info h5 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 16px;
            word-spacing: 3px;
            color: #fff;
            text-align: right;
            overflow: hidden; }
            main.team ul.js-masonry li.member div.member-content div.info h5 span.big {
              font-family: Big John; }
            main.team ul.js-masonry li.member div.member-content div.info h5 div.slim-wrapper {
              display: inline-block; }
            main.team ul.js-masonry li.member div.member-content div.info h5 span.slim {
              display: block;
              max-width: 0;
              overflow: 0;
              font-family: Slim Joe; }
    main.team ul.js-masonry li.member:hover div.member-content div.info h5 span.slim {
      max-width: 300px;
      animation: nameSlide 0.7s ease-out; }
@-webkit-keyframes nameSlide {
  0% {
    max-width: 0; }
  100% {
    max-width: 300px; } }
@-moz-keyframes nameSlide {
  0% {
    max-width: 0; }
  100% {
    max-width: 300px; } }
@keyframes nameSlide {
  0% {
    max-width: 0; }
  100% {
    max-width: 300px; } }
main.listening {
  position: relative;
  float: right;
  padding: 55px 50px;
  width: calc(100% - 227px - 100px);
  background-color: #f8f8f8; }
  main.listening div.content div.main-feed {
    width: calc(100% - 350px); }
    main.listening div.content div.main-feed ul.instagram-feed {
      width: 100%;
      list-style: none; }
      main.listening div.content div.main-feed ul.instagram-feed li.insta-item {
        width: 240px;
        height: 380px; }
  main.listening div.content div.twitter-feed {
    position: fixed;
    top: 55px;
    right: 50px; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #211f22;
  z-index: 10; }
  header div.header-inner {
    padding: 0 30px;
    width: calc(100% - 60px);
    text-align: center; }
    header div.header-inner ul.controls {
      list-style: none; }
      header div.header-inner ul.controls li {
        position: relative;
        display: inline-block;
        padding: 12px 19px;
        cursor: pointer; }
        header div.header-inner ul.controls li i, header div.header-inner ul.controls li span {
          color: #999; }
        header div.header-inner ul.controls li i {
          margin-right: 5px;
          font-size: 22px; }
        header div.header-inner ul.controls li span {
          position: relative;
          top: -2px;
          font-family: Slim Joe;
          font-size: 11px; }
        header div.header-inner ul.controls li div.hidden-action {
          display: none;
          position: absolute;
          top: 47px;
          left: 0px;
          padding: 15px;
          background-color: #2c292c;
          border-radius: 0 0 2px 2px; }
        header div.header-inner ul.controls li div.hidden-action.join-action {
          width: 340px; }
          header div.header-inner ul.controls li div.hidden-action.join-action button {
            float: left;
            padding: 10px 14px;
            width: 170px;
            height: 60px;
            border: none;
            color: #fff;
            text-align: left;
            box-shadow: 1px  0    0 #444, 0    1px  1px #333, -1px 0    0 #444, 0    -1px 0 #555;
            cursor: pointer;
            outline: none; }
            header div.header-inner ul.controls li div.hidden-action.join-action button i {
              display: inline-block;
              font-size: 29px;
              color: #fff; }
            header div.header-inner ul.controls li div.hidden-action.join-action button span {
              display: inline-block;
              width: calc(100% - 40px);
              font-family: Arial, Helvetica, sans-serif;
              font-size: 11px;
              line-height: 1.4;
              color: #fff; }
          header div.header-inner ul.controls li div.hidden-action.join-action button.download {
            background-color: #84c775;
            border-radius: 2px 0 0 2px; }
          header div.header-inner ul.controls li div.hidden-action.join-action button.download:focus {
            background-color: #64b851; }
          header div.header-inner ul.controls li div.hidden-action.join-action button.facebook {
            background-color: #1cafd1;
            border-radius: 0 2px 2px 0; }
          header div.header-inner ul.controls li div.hidden-action.join-action button.facebook:focus {
            background-color: #1689a4; }
        header div.header-inner ul.controls li div.hidden-action.say-action {
          width: 390px; }
          header div.header-inner ul.controls li div.hidden-action.say-action h4 {
            font-family: Big John;
            font-size: 15px;
            text-align: left;
            color: #fff; }
          header div.header-inner ul.controls li div.hidden-action.say-action span {
            float: left;
            margin-bottom: 11px;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif; }
          header div.header-inner ul.controls li div.hidden-action.say-action form textarea {
            margin-bottom: 10px;
            padding: 10px;
            width: calc(100% - 20px);
            height: 80px;
            border: 0;
            resize: none;
            outline: none; }
          header div.header-inner ul.controls li div.hidden-action.say-action form div.signed {
            text-align: right; }
            header div.header-inner ul.controls li div.hidden-action.say-action form div.signed h5 {
              display: inline-block;
              font-family: Big John;
              color: #fff; }
            header div.header-inner ul.controls li div.hidden-action.say-action form div.signed input {
              margin-left: 5px;
              width: 80px;
              color: #fff;
              background-color: transparent;
              border: none;
              border-bottom: 1px solid #fff;
              outline: none; }
      header div.header-inner ul.controls li:hover {
        background-color: #2c292c; }
        header div.header-inner ul.controls li:hover > i, header div.header-inner ul.controls li:hover > span {
          color: #fff; }
      header div.header-inner ul.controls li.active {
        background-color: #2c292c; }
        header div.header-inner ul.controls li.active > i, header div.header-inner ul.controls li.active > span {
          color: #fff; }
        header div.header-inner ul.controls li.active div.hidden-action {
          display: block; }
      header div.header-inner ul.controls li:first-child i:first-child {
        position: relative;
        top: 1px;
        font-size: 23px; }

div.loader-container {
  position: fixed;
  width: 100%;
  margin: 0 auto; }

div.loader {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  animation: rotate 5s ease-out infinite;
  border-radius: 10px;
  overflow: hidden;
  z-index: 100; }
  div.loader:before, div.loader:after {
    position: absolute;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0; }
  div.loader:before {
    background: #1cafd1;
    box-shadow: 20px 0 0 #1cafd1, 40px 0 0 #1cafd1, 0 20px 0 #1cafd1, 20px 20px 0 #1cafd1, 40px 20px 0 #1cafd1, 0 40px 0 #1cafd1, 20px 40px 0 #1cafd1, 40px 40px 0 #1cafd1;
    animation: one 5s ease infinite; }
  div.loader:after {
    background: #84c775;
    box-shadow: 20px 0 0 #84c775, 40px 0 0 #84c775, 0 20px 0 #84c775, 20px 20px 0 #84c775, 40px 20px 0 #84c775, 0 40px 0 #84c775, 20px 40px 0 #84c775, 40px 40px 0 #84c775;
    animation: two 5s ease infinite;
    z-index: 2; }

@keyframes one {
  0% {
    background: transparent;
    box-shadow: 20px 0 0 #1cafd1, 40px 0 0 #1cafd1, 0 20px 0 #1cafd1, 20px 20px 0 #1cafd1, 40px 20px 0 #1cafd1, 0 40px 0 #1cafd1, 20px 40px 0 #1cafd1, 40px 40px 0 #1cafd1;
    z-index: 1; }
  5% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 #1cafd1, 0 20px 0 #1cafd1, 20px 20px 0 #1cafd1, 40px 20px 0 #1cafd1, 0 40px 0 #1cafd1, 20px 40px 0 #1cafd1, 40px 40px 0 #1cafd1; }
  10% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 #1cafd1, 20px 20px 0 #1cafd1, 40px 20px 0 #1cafd1, 0 40px 0 #1cafd1, 20px 40px 0 #1cafd1, 40px 40px 0 #1cafd1; }
  15% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 #1cafd1, 40px 20px 0 #1cafd1, 0 40px 0 #1cafd1, 20px 40px 0 #1cafd1, 40px 40px 0 #1cafd1; }
  20% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 #1cafd1, 0 40px 0 #1cafd1, 20px 40px 0 #1cafd1, 40px 40px 0 #1cafd1; }
  25% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 #1cafd1, 20px 40px 0 #1cafd1, 40px 40px 0 #1cafd1; }
  30% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 #1cafd1, 40px 40px 0 #1cafd1; }
  35% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 #1cafd1; }
  40% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 transparent; }
  45% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 transparent;
    z-index: 1; }
  50%, 100% {
    background: #1cafd1;
    box-shadow: 20px 0 0 #1cafd1, 40px 0 0 #1cafd1, 0 20px 0 #1cafd1, 20px 20px 0 #1cafd1, 40px 20px 0 #1cafd1, 0 40px 0 #1cafd1, 20px 40px 0 #1cafd1, 40px 40px 0 #1cafd1;
    z-index: 0; }
  100% {
    z-index: 0; } }
@keyframes two {
  0%,49% {
    background: #84c775;
    z-index: 0; }
  50% {
    background: transparent;
    box-shadow: 20px 0 0 #84c775, 40px 0 0 #84c775, 0 20px 0 #84c775, 20px 20px 0 #84c775, 40px 20px 0 #84c775, 0 40px 0 #84c775, 20px 40px 0 #84c775, 40px 40px 0 #84c775;
    z-index: 1; }
  55% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 #84c775, 0 20px 0 #84c775, 20px 20px 0 #84c775, 40px 20px 0 #84c775, 0 40px 0 #84c775, 20px 40px 0 #84c775, 40px 40px 0 #84c775; }
  60% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 #84c775, 20px 20px 0 #84c775, 40px 20px 0 #84c775, 0 40px 0 #84c775, 20px 40px 0 #84c775, 40px 40px 0 #84c775; }
  65% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 #84c775, 40px 20px 0 #84c775, 0 40px 0 #84c775, 20px 40px 0 #84c775, 40px 40px 0 #84c775; }
  70% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 #84c775, 0 40px 0 #84c775, 20px 40px 0 #84c775, 40px 40px 0 #84c775; }
  75% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 #84c775, 20px 40px 0 #84c775, 40px 40px 0 #84c775; }
  80% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 #84c775, 40px 40px 0 #84c775; }
  85% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 #84c775; }
  90% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 transparent; }
  95% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 transparent;
    z-index: 1; }
  100% {
    background: #84c775;
    box-shadow: 20px 0 0 #84c775, 40px 0 0 #84c775, 0 20px 0 #84c775, 20px 20px 0 #84c775, 40px 20px 0 #84c775, 0 40px 0 #84c775, 20px 40px 0 #84c775, 40px 40px 0 #84c775; } }
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  25% {
    transform: translate(-50%, -50%) rotate(90deg); }
  50% {
    transform: translate(-50%, -50%) rotate(180deg); }
  75% {
    transform: translate(-50%, -50%) rotate(270deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }

/*# sourceMappingURL=main.css.map */
