main.about {
	@media(min-width: 860px) {
		float: right;
		padding: 55px 15px 55px 50px;
		width: calc(100% - 227px - 65px);
	}
	position: relative;
	padding: 55px 27px;
	width: calc(100% - 54px);
	background-color: $main-background;

	div.content {
		position: relative;

		section.candidate {
			background-color: #fff;
			box-shadow: 1px  0    0 #d6d7d8,
						0    1px  1px #cccdce,
						-1px 0    0 #d6d7d8,
						0    -1px 0 #e7e8e9;
			overflow: auto;

			div.image-wrapper {
				@media(min-width: 950px) {
					height: 500px;
					overflow: hidden;
				}
				@media(min-width: 1000px) {
					height: 400px;
				}
				@media(min-width: 1275px) {
					float: left;
					width: calc(100% - 520px);
					height: auto;
					overflow: visible;
				}
				position: relative;
				width: 100%;

				img {
					@media(min-width: 1000px) { position: relative; }
					display: block;
					width: 100%;
				}
				h2 {
					position: absolute;
					bottom: 10px;
					right: 20px;
					font-size: 35px;
					text-align: right;
					color: #fff;

					span.big { font-family: $fixed-font-family1; }
					span.slim { font-family: $fixed-font-family2; }
				}
			}
			div.info {
				@media(min-width: 1275px) {
					float: right;
					padding: 25px;
					width: calc(520px - 50px);
				}
				@media(min-width: 1300px) {
					padding: 32px;
					width: calc(520px - 64px);
				}
				float: right;
				padding: 32px;
				overflow: auto;

				h3 {
					@media(min-width: 1400px) { font-size: 26px; }
					margin-bottom: 15px;
					font-family: $fixed-font-family2;
					font-size: 20px;
					color: #333;
				}
				h6 {
					margin-bottom: 3px;
					font-family: $fixed-font-family1;
					font-size: 14px;
					color: $accent-color1;
				}
				div.paragraph {
					width: 100%;

					div.paragraphs {
						@media(min-width: 1300px) { column-count: 2; }

						p {
							@media(min-width: 1275px) { font-size: 13px; }
							@media(min-width: 1365px) { font-size: 14px;}
							float: left;
							margin-bottom: 10px;
							font-family: $base-font-family;
							font-size: 14px;
							line-height: 1.5;
							color: #666;
						}
					}
				}
			}
		}
		section.candidate:first-child {
			margin-bottom: 30px;

			div.image-wrapper {

				img {
					@media(min-width: 1000px) { top: -140px; }
					@media(min-width: 1100px) { top: -160px; }
					@media(min-width: 1148px) { top: -200px; }
					@media(min-width: 1200px) { top: -220px; }
					@media(min-width: 1275px) { top: 0;      }
				}
			}
		}
	}
}