/* Variables */

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: Arial, Helvetica, sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Fixed Font
@font-face {
	font-family: Big John;
	src: url('fonts/BigJohnSlimJoe/BIG JOHN.otf');
}
@font-face {
	font-family: Slim Joe;
	src: url('fonts/BigJohnSlimJoe/Slim Joe.otf');
}
$fixed-font-family1: Big John;
$fixed-font-family2: Slim Joe;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;


/* Modules */
@import "../modules/all";


/* Partials */
@import "nav-panel";
@import "main";
@import "about";
@import "endorsements";