main.endorsements {
	position: relative;
	float: right;
	padding: 55px 15px 55px 50px;
	width: calc(100% - 227px - 65px);
	background-color: $main-background;


	ul.js-masonry {
		list-style: none;

		li.endorsement {
			display: block;
			margin-bottom: 5px;
			width: calc((100% - (3 * 5px)) /  4);
			box-shadow: 1px  0    0 #d6d7d8,
						0    1px  1px #cccdce,
						-1px 0    0 #d6d7d8,
						0    -1px 0 #e7e8e9;
			cursor: pointer;

			div.endorsement-content {
				position: relative;
				width: 100%;

				img {
					width: 100%;
				}
				div.info {
					position: absolute;
					bottom: 4px;
					left: 0;
					padding: 10px;
					width: calc(100% - 20px);
					height: 32px;
					text-align: right;
					background-color: rgba(0, 0, 0, 0.3);

					h5 {
						font-weight: bold;
						font-size: 13px;
						word-spacing: 3px;
						color: #fff;

						span.big { font-family: $fixed-font-family1; }
						span.slim { font-family: $fixed-font-family2; }
					}
					> span {
						font-family: $base-font-family;
						font-size: 11px;
						color: #bbb;
					}
				}
			}
		}
		li.endorsement:hover {
			opacity: 0.9;
		}



		li.highlight {
			margin-bottom: 5px;
			padding: 47px;
			width: calc(((100% - 5px) / 2) - 94px); // (2*endorsement + gutter) - padding
			background-color: #fff;
			box-shadow: 1px  0    0 #d6d7d8,
						0    1px  1px #cccdce,
						-1px 0    0 #d6d7d8,
						0    -1px 0 #e7e8e9;

			p {
				font-family: $fixed-font-family2;
				font-size: 30px;
				line-height: 1.6;
			}

			h2 {
				margin: 20px;
				text-align: right;	
				font-family: $fixed-font-family2;
				font-size: 20px;
			}
		}

	}

	div.endorse-panel {
		display: block;
		position: fixed;
		top: -5px;
		right: -470px;
		padding: 55px 20px 20px 20px;
		width: calc(450px - 20px);
		background-color: #333;
		z-index: 2;

		img {
			padding: 0 15px 15px 0;
			width: 230px;
			margin: 0 auto;
			margin-top: 15px;
		}
		h3 {
			margin-top: 15px;
			font-family: $fixed-font-family1;
			font-size: 30px;
			color: $accent-color2;
			word-break: break-all;
		}
		h4 {
			font-family: $base-font-family;
			font-weight: normal;
			font-size: 14px;
			color: #aaa;
		}
		p {
			margin-top: 25px;
			font-family: $base-font-family;
			font-size: 14px;
			line-height: 1.5;
			color: #ddd;

		}
	}
	div.slidein {
		right: 0px;
		animation-name: slidein;
		animation-duration: 1s;
	}
	div.slideout {
		right: -471px;
		animation-name: slideout;
		animation-duration: 1s;
	}
	@keyframes slidein {
		0% { right: -450px; }
		100% { right: 0px; }
	}
	@keyframes slideout {
		0% { right: 0px; }
		100% { right: -450px; }
	}
}