main.endorsements {
	position: relative;
	float: right;
	padding: 20px 50px;
	width: calc(100% - 227px - 100px);
	background-color: $main-background;


	ul.js-masonry {
		list-style: none;


		li.endorsement {
			position: absolute;
			margin-bottom: 5px; // masonry gutter
			width: 260px;
			height: 260px;
			box-shadow: 1px  0    0 #d6d7d8,
						0    1px  1px #cccdce,
						-1px 0    0 #d6d7d8,
						0    -1px 0 #e7e8e9;
			cursor: pointer;

			div.endorsement-content {
				position: relative;
				width: 100%;

				img {
					width: 100%;
				}
				div.info {
					position: absolute;
					bottom: 3px;
					left: 0;
					padding: 10px;
					width: calc(100% - 20px);
					height: 25px;
					text-align: right;
					background-color: rgba(0, 0, 0, 0.3);

					h5 {
						font-weight: bold;
						font-size: 13px;
						word-spacing: 3px;
						color: #fff;

						span.big { font-family: $fixed-font-family1; }
						span.slim { font-family: $fixed-font-family2; }
					}
					> span {
						font-family: $base-font-family;
						font-size: 11px;
						color: #bbb;
					}
				}
			}
		}
		li.endorsement:hover {
			opacity: 0.9;
		}



		li.highlight {
			position: absolute;
			margin-bottom: 5px; // masonry gutter
			padding: 47px;
			width: calc(525px - 94px); // (2*endorsement + gutter) - padding
			height: calc(525px - 94px); // same as width
			background-color: #fff;
			box-shadow: 1px  0    0 #d6d7d8,
						0    1px  1px #cccdce,
						-1px 0    0 #d6d7d8,
						0    -1px 0 #e7e8e9;

			p {
				font-family: $fixed-font-family2;
				font-size: 30px;
				line-height: 1.6;
			}
		}

	}
}