header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #211f22;
	z-index: 10;

	div.header-inner {
		@media(min-width: 860px) {
			padding: 0 30px;
			width: calc(100% - 60px);
			text-align: center;
		}
		padding: 0 15px;
		width: calc(100% - 30px);


		div.small-width.hamburger {
			@media(min-width: 860px) { display: none; }
			float: left;

			i {
				padding: 12px;
				font-size: 22px;
				color: #999;
			}
			i.active {
				background-color: #2c292c;
				color: #fff;
			}
		}
		ul.controls {
			@media(min-width: 860px) { float: none; }
			float: right;
			list-style: none;

			li {
				@media(min-width: 860px) {
					padding: 12px 19px;
				}
				position: relative;
				display: inline-block;
				padding: 12px;
				cursor: pointer;

				i, span {
					color: #999;
					// color: #547B99;
				}
				i {
					margin-right: 5px;
					font-size: 22px;
				}
				span {
					position: relative;
					top: -2px;
					font-family: $fixed-font-family2;
					font-size: 11px;
				}
				div.hidden-action {
					display: none;
					position: absolute;
					top: 47px;
					left: 0px;
					padding: 15px;
					background-color: #2c292c;
					border-radius: 0 0 2px 2px;
				}
				div.hidden-action.join-action {
					@media(min-width: 860px) { width: 340px; }
					width: 170px;

					button {
						@media(min-width: 860px) { width: 170px; }
						float: left;
						padding: 10px 14px;
						width: 100%;
						height: 60px;
						border: none;
						color: #fff;
						text-align: left;
						box-shadow: 1px  0    0 #444,
									0    1px  1px #333,
									-1px 0    0 #444,
									0    -1px 0 #555;
						cursor: pointer;
						outline: none;

						i {
							display: inline-block;
							font-size: 29px;
							color: #fff;
						}
						span {
							display: inline-block;
							width: calc(100% - 40px);
							font-family: $base-font-family;
							font-size: 11px;
							line-height: 1.4;
							color: #fff;
						}
					}
					button.download {
						background-color: $accent-color2;
						border: 1px solid lighten($accent-color2, 10%);
						border-radius: 2px 0 0 2px;
					}
					button.download:focus {
						background-color: darken($accent-color2, 10%);
					}
					button.facebook {
						background-color: $accent-color1;
						border: 1px solid lighten($accent-color1, 10%);
						border-radius: 0 2px 2px 0;
					}
					button.facebook:focus {
						background-color: darken($accent-color1, 10%);
					}
				}
				div.hidden-action.say-action {
					@media(min-width: 860px) {
						left: 0;
						width: 412px;
					}
					left: -180px;
					width: 261px;

					h4 {
						margin-bottom: 4px;
						font-family: $fixed-font-family1;
						font-size: 17px;
						text-align: left;
						color: #fff;
						word-spacing: 2px;
					}
					span {
						float: left;
						padding: 0;
						font-family: $base-font-family;
						font-size: 13px;
					}
					form {

						textarea {
							margin: 18px 0;
							padding: 10px;
							width: calc(100% - 20px);
							height: 100px;
							font-family: $base-font-family;
							font-size: 14px;
							border: 0;
							resize: none;
							outline: none;
						}
						div.signed {

							input {
								@media(min-width: 860px) {
									margin: 0;
									width: 112px;
								}
								float: left;
								margin-bottom: 5px;
								padding: 10px 12px;
								width: calc(100% - 24px);
								color: #fff;
								background-color: $accent-color2;
								border: 1px solid lighten($accent-color2, 10%); 
								outline: none;
							}
							input::-webkit-input-placeholder { color: #eee; }
							input:-moz-placeholder { color: #eee; }
							input::-moz-placeholder { color: #eee; }
							input:ms-input-placeholder { color: #eee; }
							input:not(:first-child) {
								@media(min-width: 860px) { border-left: none;}
							}
							input:focus {
								background-color: darken($accent-color2, 10%);
							}
							button {
								display: block;
								float: right;
								margin-top: 10px;
								padding: 10px 8px 6px 8px;
								width: 100%;
								font-family: $fixed-font-family2;
								font-size: 15px;
								color: #fff;
								background-color: $accent-color1;
								border: none;
								border: 1px solid lighten($accent-color1, 10%);
								outline: none;
								cursor: pointer;

								i {
									margin-right: 10px;
									font-size: 14px;
									color: #fff;
								}
							}
							button:active {
								background-color: darken($accent-color1, 10%);
								border: 1px solid darken($accent-color1, 3%);
							}
						}
					}
				}
			}
			li:hover {
				background-color: #2c292c;

				> i, > span {
					color: #fff;
				}
			}
			li.active {
				background-color: #2c292c;

				> i, > span {
					color: #fff;
				}
				div.hidden-action {
					display: block;
				}
			}
			li:first-child {

				i:first-child {
					position: relative;
					top: 1px;
					font-size: 23px;
				}
			}
		}
	}
	div.small-width.menu {
		@media(min-width: 860px) { display: none; }
		float: left;
		clear: left;
		width: 100%;
		border-top: 1px solid #252525;

		ul.nav-menu {
			display: none;
			width: 100%;
			list-style: none;

			li {
				padding: 5px 0 5px 27px;
				border-bottom: 1px solid #252525;

				a {
					font-family: $base-font-family;
					font-size: 15px;
					color: #999;
					text-decoration: none;
				}
			}
		}
		ul.nav-menu.active { display: block; }
	}
}