main.issues {
	position: relative;
	float: right;
	padding: 55px 15px 55px 50px;
	width: calc(100% - 227px - 65px);
	background-color: $main-background;

	div.content {
		position: relative;

		section.point {
			margin-bottom: 15px;
			box-shadow: 1px  0    0 #d6d7d8,
						0    1px  1px #cccdce,
						-1px 0    0 #d6d7d8,
						0    -1px 0 #e7e8e9;

			div.point-content {
				padding: 30px;
				overflow: auto;

				h2 {
					float: left;
					margin-bottom: 20px;
					font-size: 20px;
					font-family: $fixed-font-family2;
				}
				div.image-wrapper {
					float: right;
					width: 350px;

					img {
						width: 100%;
					}
				}
				div.text {
					float: left;
					clear: left;
					padding-right: 30px;
					width: calc(100% - 350px - 30px);
					font-family: $base-font-family;
					font-size: 14px;
					line-height: 1.5;
					color: #666;

					p {
						margin-bottom: 10px;
					}
					ol {
						padding-left: 40px;

						li {
							margin-bottom: 10px;
						}
					}
				}
			}
		}
		section.header-point {

			div.point-content {

				h1 {
					float: left;
					font-size: 34px;
					font-family: $fixed-font-family1;
					color: $accent-color2;
				}
				div.text {
					float: left;
					clear: left;
					margin-top: 10px;
					width: 100%;
					font-family: $base-font-family;
					font-size: 16px;
					line-height: 1.5;
					color: #666;
				}
			}
		}
		section.point.sustainability div.point-content h2          { color: $accent-color1; }
		section.point.diversity-and-inclusion div.point-content h2 { color: $accent-color2; }
		section.point.sexual-assault div.point-content h2          { color: $accent-color1; }
		section.point.financial-accessibility div.point-content h2 { color: $accent-color2; }
		section.point.mental-health div.point-content h2           { color: $accent-color1; }
		section.point.academics div.point-content h2               { color: $accent-color2; }
		section.point.student-groups div.point-content h2          { color: $accent-color1; }
	}
}