main.listening {
	position: relative;
	float: right;
	padding: 55px 50px;
	width: calc(100% - 227px - 100px);
	background-color: $main-background;

	div.main-feed {
		width: calc(100% - 350px);

		ul.instagram-feed {
			width: 100%;
			list-style: none;

			li.insta-item {
				width: 240px;
				height: 380px;
			}
		}
	}
	div.twitter-feed {
		position: fixed;
		top: 55px;
		right: 50px;
	}

}