main.main {
	@media(min-width: 860px) {
		float: right;
		width: calc(100% - 227px);
	}
	@media(min-width: 1270px) {
		background-color: #202020;
		// background: none;
	}
	position: relative;
	padding-top: 47px;
	width: 100%;
	background: url('https://s3-us-west-2.amazonaws.com/campaignwebsite/endorsements/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;



	img.background-image {
		@media(min-width: 1270px) {
			display: block;
			width: 100%;
			left: 0;
			height: auto;
		}
		display: none;
		position: relative;
		left: -80%;
		height: 100%;
	}


	div.banner {
		@media(min-width: 860px) { 
			top: 80px;
			right: 30px;
			bottom: auto;
			left: auto;
		}
		position: absolute;
		bottom: 10px;
		left: 20px;

		h1 {
			@media(min-width: 324px) { font-size: 55px; }
			@media(min-width: 480px) { font-size: 67px; }
			@media(min-width: 585px) { font-size: 75px; }
			@media(min-width: 860px) { font-size: 55px; }
			@media(min-width: 940px) { font-size: 60px; }
			@media(min-width: 1000px) { font-size: 65px; }
			@media(min-width: 1100px) { font-size: 70px; }
			@media(min-width: 1200px) { font-size: 80px; }
			float: right;
			font-size: 50px;

			span.row {
				@media(min-width: 860px) { display: inline; }
				display: block;

				span.big { font-family: $fixed-font-family1; }
				span.slim { font-family: $fixed-font-family2; }
				span {
					color: #211f22;
				}
			}
		}
	}
}