main.main {
	position: relative;
	padding-top: 47px;
	float: right;
	width: calc(100% - 227px);
	background-color: #202020;



	video {
		position: relative;
		top: 50%;
		width: 100%;
	}


	div.banner {
		display: none;
		position: absolute;
		top: 70px;
		right: 25px;
		width: 100%;

		h1 {
			display: inline;
			float: right;
			font-size: 80px;
			color: #fff;

			span.row {
				display: block;

				span.big { font-family: $fixed-font-family1; }
				span.slim { font-family: $fixed-font-family2; }
			}
			span.row:nth-child(2) {
				margin-left: 172px;
			}
			span.row:nth-child(3) {
				margin-left: 292px;
			}
		}
	}
}