main.splash {
	position: relative;
	width: 100%;
	background-color: #202020;
	overflow: hidden;
	// background-image: url('https://s3-us-west-2.amazonaws.com/campaignwebsite/images/splash_background.jpg');
	background-image: url('https://s3-us-west-2.amazonaws.com/campaignwebsite/endorsements/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;


	div.filter {
		position: relative;
		top: 50%;
		filter: grayscale(1.0) blur(1px);

		video {
			position: relative;
			width: 100%;
		}
	}

	div.logo {
		position: absolute;
		top: 20px;
		left: 20px;

		img {
			width: 140px;
			// filter: grayscale(1.0);
		}

		@media(min-width: 500px) {
			img { width: 170px; }
		}
		@media(min-width: 600px) {
			img { width: 190px; }
		}
		@media(min-width: 750px) {
			img { width: 220px; }
		}
		@media(min-width: 950px) {
			img { width: 250px; }
		}
	}

	div.banner {
		position: absolute;
		bottom: 20px;
		width: 100%;
		text-align: center;

		span.big { font-family: $fixed-font-family1; }
		span.slim { font-family: $fixed-font-family2; }

		h1, h2, h3 {
			// color: #fff;
			color: #333;
			text-align: center;
		}

		div.buttons {
			width: 100%;
			left: 50%;

			button:first-child {
				background-color: $accent-color2;
				border: 1px solid darken($accent-color2, 7%)
			}
			button:nth-child(2) {
				background-color: $accent-color1;
				border: 1px solid darken($accent-color1, 7%)	
			}

			button {
				display: inline-block;
				padding: 15px 20px;
				color: #fff;
				// border: none;
				font-size: 23px;
			}
		}

		h2, h3 {
			font-family: $base-font-family;
			font-weight: normal;

			ul {

				li {
					display: inline-block;
					padding: 0 5px;
					border-right: 1px solid #333;
				}
				li:last-child {
					border-right: none;
				}
			}
		}
		h1 { font-size: 33px; }
		h2 { font-size: 12px; }
		h3 {
			margin-top: 8px;
			font-size: 11px;
		}

		@media(min-width: 450px) {
			h1 { font-size: 40px; }
			h2 { font-size: 15px; }
			h3 { font-size: 12px; }
		}
		@media(min-width: 550px) {
			h1 { font-size: 50px; }
			h2 { font-size: 17px; }
			h3 { font-size: 12px; }
		}
		@media(min-width: 700px) {
			h1 { font-size: 60px; }
			h2 { font-size: 20px; }
			h3 { font-size: 14px; }
		}
		@media(min-width: 850px) {
			h1 { font-size: 70px; }
			h2 { font-size: 30px; }
			h3 { font-size: 20px; }
		}
	}
}