main.vision {
	@media(min-width: 860px) {
		float: right;
		padding: 55px 15px 55px 50px;
		width: calc(100% - 227px - 65px);
	}
	position: relative;
	padding: 55px 27px;
	width: calc(100% - 54px);
	background-color: $main-background;

	div.content {
		position: relative;

		section.point {
			margin-bottom: 15px;
			box-shadow: 1px  0    0 #d6d7d8,
						0    1px  1px #cccdce,
						-1px 0    0 #d6d7d8,
						0    -1px 0 #e7e8e9;

			div.point-content {
				padding: 30px;
				overflow: auto;

				h2 {
					@media(min-width: 860px) { font-size: 25px; }
					@media(min-width: 700px) { width: calc(100% - 30px - 10px); }
					float: left;
					margin-bottom: 20px;
					padding-top: 30px;
					width: calc(100% - 30px - 6px);
					font-size: 20px;
					font-family: $fixed-font-family2;
				}
				div.text {
					@media(min-width: 700px) { width: calc(100% - 30px - 10px); }
					float: left;
					padding-right: 30px;
					padding-bottom: 30px;
					width: calc(100% - 30px - 6px);
					font-family: $base-font-family;
					font-size: 14px;
					line-height: 1.5;
					color: #666;

					p {
						margin-bottom: 10px;
					}
					ol {
						padding-left: 40px;

						li {
							margin-bottom: 10px;
						}
					}
				}
			}
		}
		section.point:not(.header-point) {

			div.point-content {
				padding-top: 0;
				padding-right: 0;
				padding-bottom: 0;

				div.highlight {
					@media(min-width: 700px) { width: 10px; }
					float: right;
					width: 6px;
				}
			}
		}
		section.point.accountability div.point-content h2 { color: $accent-color1; }
		section.point.accountability div.point-content div.highlight { background-color: $accent-color1;}
		section.point.accessibility div.point-content h2  { color: $accent-color2; }
		section.point.accessibility div.point-content div.highlight { background-color: $accent-color2;}
		section.point.opportunity div.point-content h2    { color: $accent-color1; }
		section.point.opportunity div.point-content div.highlight { background-color: $accent-color1;}
		section.header-point {

			div.point-content {

				h1 {
					float: left;
					font-size: 40px;
					font-family: $fixed-font-family1;
					color: $accent-color2;
				}
				div.text {
					float: left;
					clear: left;
					margin-top: 10px;
					width: 100%;
					font-family: $base-font-family;
					font-size: 16px;
					line-height: 1.5;
					color: #666;

					p {

						b {
							color: #555;
						}
					}
				}
			}
		}
	}
}