<main class="about" loader>
	<div class="content">

		<section class="noah candidate">
			<div class="image-wrapper">
				<img src="images/candidates/Noah-cropped.jpg" />
				<h2><span class="big">Noah</span> <span class="slim">Star</span></h2>
			</div>
			<div class="info">
				<h3>Presidential Candidate</h3>
				<div class="paragraph">
					<h6>Meet Noah</h6>
					<div class="paragraphs">
						<p>
							Originally from Lexington, Massachusetts, Noah Star is a
							junior Political Science and History major at Northwestern
							University. Noah chose Northwestern because of our
							beautiful campus, Big Ten sports, and Northwestern’s
							strong Political Science and History programs.
						</p>
						<p>
							Noah’s first attempt at ASG ended in rejection, as he was
							not selected to be the Willard RCB Senator. Noah may have
							“started from the bottom,” but now, he is the Speaker of
							the Senate. As Speaker, Noah has helped pushed for direct
							elections of residential and off-campus Senators, making
							the Senate a less-intimidating, more accessible space for
							students, widening the lense of the Senate’s legislative
							focus. He won a Winter Campus Life Award for his work
							planning and leading the Senate during last quarter’s
							debate about divestment from six corporations working with
							Israel. Noah has also been Vice President of his
							fraternity, a Peer Adviser, a member of J Street Northwestern, and a
							member of Mayfest.
						</p>
						<p>
							His favorite book is Empire
							Falls by Richard Russo and his favorite bands are Radiohead,
							the National, and Grizzly Bear.
						</p>
					</div>
				</div>
			</div>
		</section>

		<section class="christina candidate">
			<div class="image-wrapper">
				<img src="images/candidates/Christina-cropped.jpg" />
				<h2><span class="big">Christina</span> <span class="slim">Kim</span></h2>
			</div>
			<div class="info">
				<h3>Vice-Presidential<br>Candidate</h3>
				<div class="paragraph">
					<h6>Meet Christina</h6>
					<div class="paragraphs">
						<p>
							Born only 6 miles from Northwestern, Christina Kim now lives
							719 miles away in northern Virginia. Christina has been
							coding since the age of 15 and continues to hack as a
							computer science major at Northwestern. Christina chose to
							Go ‘Cats to return to her roots, eat more hot dogs, enjoy
							Lake Michigan, and to take DTC. She got her first exposure
							to ASG through the President’s Leadership Initiative
							Committee her freshman year and is now the Vice President of
							Services. As VP of Services, Christina has helped bring
							Northwestern’s first hackathon, CourseDJ, and the Study
							Abroad Guide to campus. ASG Services is currently building
							an app to help tackle over programming by helping student
							groups find the best time to plan events, and a civic
							engagement website to connect students and student groups to
							volunteering organizations.
						</p>
						<p>
							Christina is currently an undergraduate researcher at
							Northwestern’s Delta Lab and was one of the publicity
							co-chairs for Northwestern University’s Conference on Human
							Rights for this year’s conference. She is a Quest Scholar and a GESI South Africa
							alum. She enjoys being near bodies of water, and looking at
							instagrams of puppies and good food. 
						</p>
					</div>
				</div>
			</div>
		</section>

	</div>
</main>