<main class="endorsements" endorsements-masonry loader>

	<div class="endorse-panel" id="endorsement-panel" ng-class=" {'slidein' : panelVisible, 'slideout': !panelVisible} " ng-click="panelClicked = true;">
		<img align="left" src="{{selectedEndorsement.image}}"/>
		<h3>{{selectedEndorsement.firstName}}<br>{{selectedEndorsement.lastName}}</h3>
		<h4>{{selectedEndorsement.position}}</h4>
		<p>{{selectedEndorsement.text}}</p>
	</div>

	<ul class="js-masonry">

		<li ng-repeat="endorsement in blocks" class="block {{endorsement.className}}">
			<div ng-switch on="endorsement.className">
				<div ng-switch-when="endorsement">
					<div ng-click="togglePanel($event, $index)" class="endorsement-content">
						<img src="{{endorsement.image}}" />
						<div class="info">
							<h5 class="name"><span class="big">{{endorsement.firstName}}</span> <span class="slim">{{endorsement.lastName}}</span></h5>
							<span class="position">{{endorsement.position}}</span>
						</div>
					</div>
				</div>
				<div ng-switch-when="highlight">
					<p>{{endorsement.text}}</p>
					<h2> - {{endorsement.name}} </h2>
				</div>
			</div>
		</li>

	</ul>

</main>