<main class="listening" loader>
	<div class="content">
		<div class="main-feed">

			<section class="media instagram">
				<div class="section-header insta-header">
					<i class="fa fa-instagram"></i>
					<h2>Instagram</h2>
				</div>
				<ul class="instagram-feed">
					<li class="insta-item" ng-repeat="insta in instas">
						<img class="insta-img" src="{{insta.url}}">
						<div class="insta-info">
							<ul>
								<li>
									<i class="fa fa-heart"></i>
									<span>{{insta.likes}}<span>
								</li>
								<li>
									<i class="fa fa-comment"></i>
									<span>{{insta.comments}}<span>
								</li>
							</ul>
							<div class="insta-caption">
								<span>{{insta.caption}}</span>
							</div>
						</div>
					</li>
				</ul>
			</section>

			<section class="media twitter">
				<div class="section-header twit-header">
					<i class="fa fa-twitter"></i>
					<h2>Twitter</h2>
				</div>
				<ul class="twitter-feed">
					<li class="twitter-item" ng-repeat="twit in tweets">
						<div class="twit-img">
							<img src="{{twit.profilePic}}">
						</div>
						<div class="twit-text">
							<span>{{twit.text}}</span>
						</div>
						<div class="twit-info">
							<ul>
								<li>
									<i class="fa fa-star"></i>
									<span>{{twit.favorites}}</span>
								</li>
								<li>
									<i class="fa fa-retweet"></i>
									<span>{{twit.retweets}}</span>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</section>

		</div>
	</div>
</main>