<main class="listening" loader>

	<div class="content">

		<div class="main-feed">
			<ul class="instagram-feed">
				<li class="insta-item" ng-repeat="insta in instas">
					<img class="insta-img" src="{{insta.url}}">
					<div class="insta-info">
						<i class="fa fa-heart"></i>
						<span>{{insta.likes}}<span>
						<i class="fa fa-comment"></i>
						<span>{{insta.comments}}<span>
					</div>
					<div class="insta-caption">
						<p>{{insta.caption}}</p>
					</div>
				</li>
			</ul>

			<ul class="twitter-feed">
				<li class="twitter-item" ng-repeat="twit in tweets">
					<img class="twit-img" src="{{twit.profilePic}}">
					<p class="twit-text">{{twit.text}}</p>
					<div class="twit-info">
						<i class="fa fa-star"></i>
						<span>{{twit.favorites}}</span>
						<i class="fa fa-retweet"></i>
						<span>{{twit.retweets}}</span>
					</div>
				</li>
			</ul>
		</div>

	</div>

</main>