<section class="nav-panel">
	<div class="logo"><a href="/#/"><img src="https://s3-us-west-2.amazonaws.com/campaignwebsite/images/NC-Logo-Approved.png" /></a></div>
	<div class="nav-container">
		<nav>
			<ul>
				<li ng-class="{active: activeTab == 'about'}">
					<a href="/#/about">Who We Are</a>
				</li>
				<li ng-class="{active: activeTab == 'vision'}">
					<a href="/#/plan">Plan of Action</a>
				</li>
				<li ng-class="{active: activeTab == 'issues'}">
					<a href="/#/issues">Key Issues</a>
				</li>
				<li ng-class="{active: activeTab == 'endorsements'}">
					<a href="/#/endorsements">Endorsements</a>
				</li>
				<li ng-class="{active: activeTab == 'team'}">
					<a href="/#/team">The Team</a>
				</li>
				<li ng-class="{active: activeTab == 'listening'}">
					<a href="/#/media-gallery">Media Gallery</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="social-media">
		<ul>
			<li><a href="https://www.facebook.com/noahandchristina" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="https://twitter.com/NoahChristina" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="https://instagram.com/listenthenlead/" target="_blank"><i class="fa fa-instagram"></i></a></li>
		</ul>
	</div>
</section>