<main class="splash" resizemain loader>
	<audio id="audio-player" src="" autoplay loop></audio>
	<div class="filter">
		<video id="video-player" src="video/colored_video.mp4" preload="auto" autoplay muted loop></video>
	</div>
	<div class="logo">
		<img src="https://s3-us-west-2.amazonaws.com/campaignwebsite/images/NC-Logo-Approved.png" />
	</div> 
	<div class="banner">
		<h1><span class="big">Launch</span> <span class="slim">Party</span></h1>
		<h2>
			<ul>
				<li>Freshman 15</li>
				<li>Mariachi NU</li>
			</ul>
		</h2>
		<h3>
			<ul>
				<li>April 1st</li>
				<li>8.30pm</li>
				<li>Struble Theater</li>
			</ul>
		</h3>
	</div>
</main>