<main class="splash" resizemain loader>
	<audio id="audio-player" src="" autoplay loop></audio>
	<!-- <div class="filter">
		<video id="video-player" src="video/colored_video.mp4" preload="auto" autoplay muted loop></video>
	</div> -->
	<div class="logo">
		<img src="https://s3-us-west-2.amazonaws.com/campaignwebsite/images/NC-Logo-Approved.png" />
	</div> 
	<div class="banner">
		<h1><span class="big">Vote</span>
			<span class="slim">Noah &plus; Christina</span><br>
			<span class="big">until 5pm</span>
		</h1>
		<div class="buttons">
			<a href="http://www.asg.northwestern.edu/vote" target="_blank"><button> Vote here </button></a>
			<a href="/#/home"><button> Continue to website </button></a>
		</div>
	</div>
</main>