<main class="splash" resizemain loader>
	<!-- <audio id="audio-player" src="" autoplay loop></audio> -->
	<div class="filter">
		<!-- <video id="video-player" src="video/colored_video.mp4" preload="auto" autoplay muted loop></video> -->
		<!-- <img src="https://s3-us-west-2.amazonaws.com/campaignwebsite/images/splash_background.jpg" /> -->
	</div>
	<div class="logo">
		<img src="https://s3-us-west-2.amazonaws.com/campaignwebsite/images/NC-Logo-Approved.png" />
	</div> 
	<div class="banner">
		<h1><span class="big">Vote</span>
			<span class="slim">Noah &plus; Christina</span><br>
			<span class="big">starting at 5pm</span>
		</h1>
		<div class="buttons">
			<button> Vote here </button>
			<button> Continue to website </button>
		</div>
	</div>

	<!-- <div class="links">
		<h2>
			<ul>
				<li> Vote here </li>
				<li> Continue to website </li>
			</ul>
		</h2>
	</div> -->
	<!-- <div class="message">
		<h1>
			<span class="big"> Vote for </span>
			<span class="slim"> Noah &plus; Christina </span>
			<br>
			<span class="big"> at 5pm </span>
		</h1>
	</div> -->
</main>