<main class="vision" loader>
	<div class="content">
		
		<section class="accountability point">
			<div class="point-content">
				<h2>Accountability</h2>
				<div class="image-wrapper">
					<img src="https://unsplash.it/800/800?image=10" />
				</div>
				<div class="text">
					<p>
						Our vision begins with Accountability. Too often, ASG officials forget
						that they are students serving students. ASG needs to be accountable
						to the student body to be truly representative and to earn the trust
						necessary to implement transformative initiatives.
					</p>
					<p>
						For us, accountability starts with a focus on setting goals that ASG
						can reasonably accomplish. ASG officials are not interns for admin.
						We need to be able to challenge the administration on behalf of
						students and institutionalize ways for students to push back against
						misplaced administration will, which means that we cannot be beholden
						to admin for the success or failure of their programs.
					</p>
					<p>
						Therefore, each quarter we will release a “100-day plan” of initiatives
						developed with the student body that do not require administrative
						approval to accomplish. This will obligate us to work with student
						leaders outside of ASG to develop policy, empower students to hold us
						accountable for broken promises, and prove our worth as advocate for
						students.
					</p>
				</div>
			</div>
		</section>

		<section class="accessibility point">
			<div class="point-content">
				<h2>Accessibility</h2>
				<div class="image-wrapper">
					<img src="https://unsplash.it/800/800?image=20" />
				</div>
				<div class="text">
					<p>
						Students cannot hold ASG accountable if they don’t have access to ASG
						institutions and initiatives in the first place. We are committed to
						meeting students where they are. We need to build the strong
						relationships with student leaders that will allow us to foreground
						their expertise in our policymaking and we have three immediate fixes:
					</p>
					<ol>
						<li>
							First, we will amend the ASG constitution to empower student
							group presidents to elect the Student Activities Vice President.
							The SAVP should earn the trust of student leaders before being
							given the responsibility to represent them in ASG.
						</li>
						<li>
							Second, we will expand the role of the Speaker of the Senate to
							allow them to serve as a mediator for disputes between student
							groups. Currently, there is no trusted third-party resource for
							student groups who come into conflict with each other. We think
							that the Speaker of the Senate is ideally suited to take on this
							responsibility and be proactive in establishing relationships
							with students across campus. These relationships are crucial in
							order for students to trust their fellow student to govern
							senate meetings and debates. Simple things like holding meetings
							outside Norris go along way in building trust.
						</li>
						<li>
							Third, we will shift correspondence with ASG members to already
							easily-accessible forms of social media, like Facebook and Twitter,
							to better interface with students. If we are elected, then with
							the simple #ASGListen, your complaint, compliment, or criticism
							will be heard and addressed! Why this shift? Because we believe
							students should not have to go digging to make their voices heard.
							Everybody is already on Facebook, so we should be more active there
							too.
						</li>
					</ol>
				</div>
			</div>
		</section>

		<section class="opportunity point">
			<div class="point-content">
				<h2>Opportunity</h2>
				<div class="image-wrapper">
					<img src="https://unsplash.it/800/800?image=30" />
				</div>
				<div class="text">
					<p>
						Opportunity is the ultimate aim of our vision. Our passionate commitment
						to accountability and tireless pursuit of accessibility will extend the
						opportunity to shape the direction of ASG to more students than ever
						before. We are excited to work with students to implement the changes
						that they want to see happen.
					</p>
					<p>
						When it comes to the issues that students care about the most, our
						vision demands a simple philosophy: listen, then lead. Below, you can
						read some of our ideas for how we think that ASG can give students the
						opportunity to ensure that their expertise is given the respect that it
						deserves when ASG tackles issues that affect them.  
					</p>
				</div>
			</div>
		</section>

		<section class="sustainability point">
			<div class="point-content">
				<h2>Sustainability</h2>
				<div class="image-wrapper">
					<img src="https://unsplash.it/800/800?image=40" />
				</div>
				<div class="text">
					<p>
						Right now there is a lack of comprehensive understanding amongst
						administrators about the urgency of sustainability. The spectre of
						climate change is real and to dilly dally on action is akin to denying
						our hand in the problem. ASG has an obligation to explore the
						intersection of sustainable practices in our academics and campus life.
					</p>
					<p>
						Our focus as leaders will be building on our culture of sustainability
						to try and widen the scope of pre-existing best practices while also
						bringing new innovation. We want to see an increase in quantity and
						attention for sustainable programming on campus, curriculum changes
						with an emphasis on teaching and interrogating sustainability, and
						renewed pressure for simple sustainability measures like energy and
						water consumption. This means expanding pre-existing Environmental
						History and Environmental Policy and Culture major/minor options into
						a broader Environmental Studies program. Also, we should pursue what
						sustainability programming might look like during Wildcat Welcome.
					</p>
					<p>
						Recognizing the urgency of climate change is not easy, as the
						short-term seems more expedient and beneficial. This is why a
						concentrated effort of pressure on administrators acting sustainable
						in name only is the way to push forward. Student education leads to
						student consensus and that will pave the way for things like more
						water bottle stations or programmatic additions.
					</p>
				</div>
			</div>
		</section>

		<section class="diversity-and-inclusion point">
			<div class="point-content">
				<h2>Diversity Inclusion</h2>
				<div class="image-wrapper">
					<img src="https://unsplash.it/800/800?image=50" />
				</div>
				<div class="text">
					<p>
						Colleges must work to include diverse student perspectives and
						backgrounds in order to fulfill their educational mission, a
						realization that Northwestern seems to understand. But diversity
						and inclusion go beyond incorporating student identities as data
						points. Rather, diversity and inclusion are words that mean to
						connote cultural expectations where student equality and safety are
						understood, never violated due to biased actions or expression.
					</p>
					<p>
						We will ensure that diversity trainings for organizations are tied to
						the funding process using the Peer Inclusion Educators program. ASG
						must continue to commit to more gender neutral housing and bathrooms.
						And as a perfect example of our Plan for Action already being
						implemented in ASG, we will fight to force the adminstration to listen
						to student voices clamoring for a U.S. specific diversity requirement
						in Weinberg while also working to expand that requirement to every
						Northwestern school.
					</p>
					<p>
						Dinner dialogues, training programs, incident reporting, etc. 
					</p>
					<p>
						Each of these initiatives will require sustained commit to organizing
						with a wider scope. By publicizing the litany of student voices
						committed to creating a culture of inclusivity, administrators and
						students alike will not be able to ignore its importance and necessity. 
					</p>
				</div>
			</div>
		</section>

		<section class="sexual-assault point">
			<div class="point-content">
				<h2>Sexual Assault</h2>
				<div class="image-wrapper">
					<img src="https://unsplash.it/800/800?image=50" />
				</div>
				<div class="text">
					<p>
						Sexual assault is one of the most pernicious problems on college
						campuses around the country, and NU is no exception. ASG has an
						obligation to create a thriving culture of sexual health and safety on
						campus, where assault is not tolerated.
					</p>
					<p>
						We will create a task force that will meet monthly or as needed that
						will include the SAVP, College Fems/SHAPE/MARS/Title IX Senator, and
						will be open to leaders from all sexual assault activist groups on
						campus. With our leadership, the task force will collaborate to plan
						an outreach campaign to connect students with the options available to
						them, gather feedback on what students feel needs improvement, and
						then use ASG’s power to organize grassroots public pressure on the
						administration to fill in the gaps. We will create a special funding
						apportionment for sexual assault advocacy that student groups can
						easily apply to draw on. 
					</p>
					<p>
						ASG must be in constant communication with students and student leaders
						to ensure that the work student government does to promote a sexual
						healthy campus is in tandem with those already doing important work.
						We will lead the charge because of our access, but the direction should
						be up to students.
					</p>
				</div>
			</div>
		</section>

		<section class="financial-accessibility point">
			<div class="point-content">
				<h2>Financial Accessibility</h2>
				<div class="image-wrapper">
					<img src="https://unsplash.it/800/800?image=60" />
				</div>
				<div class="text">
					<p>
						Many opportunities on campus have financial barriers to student
						participation. Northwestern campus life ought to be universally
						accessible and its ASG’s responsibility to identify places where we can
						improve financial access.  We must continue to advocate for funding for
						classroom materials and offer student engagement stipends but more can
						be done.
					</p>
					<p>
						We will work to remove financial barriers that may prevent students from
						attending campus programming events by working with the new
						Socio-Economic Status Office, the Center for Student Involvement and the
						Norris Box Office to create the Student Events Fund and offer up to 4
						tickets for eligible students per quarter. This will require all campus
						programming events to go through the Norris Box Office.
					</p>
					<p>
						We will also lobby for zero parental contribution for students with
						family incomes of less than $60,000 and typical assets. Many peer
						institutions already commit to zero parental contribution towards
						tuition, room or board, for families with incomes of less than $60,000.
						Northwestern should additionally commit to no parental contribution
						toward tuition from parents with annual incomes below $100,000  and
						typical assets. In addition, Northwestern has been raising the debt cap
						from $20,000 for everyone entering Northwestern prior to Fall 2012 to
						$24,400 for next year’s freshman class. We hope to work with
						administrators to urge them to reduce the debt cap to $20,000 and
						replacing remaining loans with grants and to commit to zero parental
						contribution for families with incomes of less than $60,000. With the
						administration focusing on making Northwestern more inclusive for
						students from lower socio-economic backgrounds, we believe that making
						a commitment to make Northwestern more affordable Northwestern will
						attract more prospective pell-grant recipients.
					</p>
					<p>
						Urge the administration to reduce unexpected and exorbitant academic
						costs while increasing financial aid to increase the number of pell
						grant recipients. 
					</p>
				</div>
			</div>
		</section>

		<section class="mental-health point">
			<div class="point-content">
				<h2>Mental Health</h2>
				<div class="image-wrapper">
					<img src="https://unsplash.it/800/800?image=70" />
				</div>
				<div class="text">
					<p>
						Mental health matters to every student, and ASG can help contribute to
						a campus culture of caring. We need more than 12 caps sessions and
						better matching process for after caps sessions. Searle and Caps both
						have hours of operation that are inconvenient for students schedules.
					</p>
					<p>
						We will make mental health a priority across ASG committees - it
						shouldn’t just be a focus for student life; mental health relates to
						academics, accessibility &amp; inclusion, services, and more.
					</p>
				</div>
			</div>
		</section>

		<section class="academics point">
			<div class="point-content">
				<h2>Academics</h2>
				<div class="image-wrapper">
					<img src="https://unsplash.it/800/800?image=80" />
				</div>
				<div class="text">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
						veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
						velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum.
					</p>
					<p>
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
						ut aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
						pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
						qui officia deserunt mollit anim id est laborum.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
						veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
						velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
						dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>
		</section>

		<section class="student-groups point">
			<div class="point-content">
				<h2>Student Groups</h2>
				<div class="image-wrapper">
					<img src="https://unsplash.it/800/800?image=90" />
				</div>
				<div class="text">
					<p>
						One of ASG’s primary roles is to support and advocate for student groups,
						yet for too many groups the funding system and resources fail to support
						groups’ missions. ASG should leverage its central position to serve as a
						facilitator for collaboration and information sharing across groups.
					</p>
					<p>
						We will create financial incentives to co-sponsoring, offer storage and
						capital improvement funding through the university so these expenditures
						are not hurt by a fluctuating Student Activities Fee pool, and create an
						application for student group membership with a common foundation. Create
						a more transparent AE/GE interactions with groups by allowing groups to
						evaluate their own AE/GE and by creating a more transparent event
						evaluation system.
					</p>
					<p>
						ASG needs to share the resources it holds that students and student
						organizations need. We will solicit feedback and communicate regularly
						with student leaders, helped by a direct election of the SAVP and more
						accountability for Account Executives and Group Executives. 
					</p>
				</div>
			</div>
		</section>

	</div>
</main>