<main class="about">
	<section class="noah candidate">
		<div class="image-wrapper">
			<img src="https://unsplash.it/1000/750?image=453" />
			<h2><span class="big">Noah</span> <span class="slim">Starr</span></h2>
		</div>
		<div class="info">
			<h3>Presidential<br>Candidate</h3>
			<div class="paragraph">
				<h6>Meet Noah</h6>
				<p>
					Lorem ipsum dolor sit amet, ex mel prima affert delenit, cum in zril prompta. Mea adhuc mollis suavitate ei. Nibh conclusionemque pri ei, id duo debet mandamus voluptatum, et nec ullum liber. Ullum animal at vim, per te omnesque indoctum constituam. Cu offendit complectitur usu, ne mei modo ipsum audiam. Eu tollit vocent probatus qui, per alii mandamus dissentiet an.
				</p>
			</div>
			<div class="facts">
				<h6>Some Facts</h6>
				<ul>
					<li>Junior</li>
					<li>Maputo, Mozambique</li>
					<li>Didn't know how to count American coins until last week</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="christina candidate">
		<div class="image-wrapper">
			<img src="https://unsplash.it/1000/750?image=633" />
			<h2><span class="big">Christina</span> <span class="slim">Kim</span></h2>
		</div>
		<div class="info">
			<h3>Vice-Presidential<br>Candidate</h3>
			<div class="paragraph">
				<h6>Meet Christina</h6>
				<p>
					Ut eam rebum qualisque consequat, nec ne veritus appellantur. Aperiam pericula qui et, vis ne sint esse mundi, cu sit stet pertinacia disputationi. Usu cu possit omittantur dissentiunt, pri falli essent prodesset ea. Mei ullum viderer appetere ea, ne nam albucius tractatos. Eu aliquam inciderint mei, at usu malis semper referrentur. Ex quod contentiones per.
				</p>
			</div>
			<div class="facts">
				<h6>Some Facts</h6>
				<ul>
					<li>Junior</li>
					<li>Colorado Springs, CO</li>
					<li>Fingers bleed when I play basketball</li>
				</ul>
			</div>
		</div>
	</section>
</main>