<section class="nav-panel">
	<div class="logo"><a href="/#/"><img src="images/logo.png" /></a></div>
	<div class="nav-container">
		<nav>
			<ul>
				<li><a href="/#/about">Who We Are</a></li>
				<li><a href="/#/about">Our Vision</a></li>
				<li><a href="/#/endorsements">Endorsements</a></li>
				<li><a href="/#/about">The Team</a></li>
				<li><a href="/#/about">We're Listening</a></li>
			</ul>
		</nav>
	</div>
	<div class="social-media">
		<ul>
			<li><i class="fa fa-facebook"></i></li>
			<li><i class="fa fa-twitter"></i></li>
			<li><i class="fa fa-instagram"></i></li>
		</ul>
	</div>
</section>